{
	"tabWidth": 4,
	"useTabs": true,
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-style-order",
		"prettier-plugin-tailwindcss"
	],
	"pluginSearchDirs": false,
	"jsxSingleQuote": true,
	"singleQuote": true,
	"semi": true,
	"arrowParens": "always",
	"importOrder": [
		"^@app/(.*)$",
		"^@/app/(.*)$",
		"^@components/(.*)$",
		"^@/components/(.*)$",
		"^@lib/(.*)$",
		"^@/lib/(.*)$",
		"^@constants/(.*)$",
		"^@/constants/(.*)$",
		"^@styles/(.*)$",
		"^@/styles/(.*)$",
		"^@types/(.*)$",
		"^@/types/(.*)$",
		"^@assets/(.*)$",
		"^@/assets/(.*)$",
		"^./(.*)$",
		"^../(.*)$",
		"^[./]"
	],
	"importOrderCaseInsensitive": true,
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"tailwindFunctions": ["classes"]
}
