@import 'tailwindcss';

@import url(./fonts.css);
@import url(./theme.css);

* {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html,
body,
#root {
	width: 100vw;
	min-height: 100%;
	overflow-x: hidden; /* Prevent horizontal scroll. A quick patch. */
	background-color: var(--color-background);
}

#root {
	position: relative;
}

/* Custom classes */

.highlight-white {
	box-shadow: inset 0 1px 0 0 #ffffff0d;
}

.background-noise {
	position: fixed;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	background-image: url('https://assets-global.website-files.com/63dcb6e1a80e9454b630f4c4/644af0299bc01254815ae442_noise-overlay-2.png');
	background-size: 200px;
	background-attachment: fixed;
	opacity: 0.15;
}

.gradient-text {
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Text selection */

::selection {
	color: #0044ff;
	text-shadow: none;
}

/* Scrollbar */

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-button {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	width: 5px;
	background: #ffffff22;
	border-radius: 10px;
	backdrop-filter: blur(5px);
}

*.debug {
	outline: 1px solid #0f05 !important;
}
